<div class="box">
  <div class="left-box">
    <h1>Input Error</h1>
    <h2>Please enter a number between <strong>1</strong> and <strong>10</strong></h2>
    <p>
      <span class="wrong">{{userAnswer}}</span>?
    <p>
      <a routerLink="/try-again">Try Again</a>
    </p>
  </div>
  <div class="right-box">
    <div class="right-box">
      <fa-icon class="gradient-text" [icon]="faQuestion"></fa-icon>
      <fa-icon class="main" [icon]="faQuestion"></fa-icon>
      <fa-icon [icon]="faQuestion"></fa-icon>
    </div>
  </div>
</div>
